:root {
    --primaryText: #003B6D;
    --primaryColor: #6699CC;
    --secondaryText: #676767;
    --secondaryColor: #BDBDBD;
}
body {
    color: var(--primaryText);
}
p {
    color: var(--secondaryText);
}
/* Navbar Styling */
.navbar-light .navbar-nav .nav-link {
    color: var(--primaryText);
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline var(--primaryText);
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
    color: var(--primaryText);
}
.navbar li {
    margin-right: 1rem;
}
 .btn-secondary, a.nav-link.btn.btn-secondary {
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 0px;
}
a.nav-link.btn.btn-secondary:hover {
    background-color: var(--secondaryText);
    border: none;
    text-decoration: none;
    color: white;
}

/* Hero Styling */
.hero {
    background-color: rgba(189, 189, 189, .2);
    padding: 4rem 2rem;
}
.hero p, .hero .small {
    color: var(--secondaryText);
}
/* Pet Advice Section Styling */

.card-deck .card .card-img-top, .card {
    border-radius: 0px;
}

.card:hover .stretched-link::after{
    background-color: rgba(102,153,204,0.3);
}
/* Adopt Section */
.adopt {
    background-color: rgba(189, 189, 189, .2);
}
.adopt ul {
    padding-left: 1rem;
}
.adopt ul a {
    color: var(--secondaryText);
    line-height: 2;
}
/* footer */
footer {
    background-color: rgba(189, 189, 189, .2);
}